body{
    background-color:rgb(71,209,237);
    color:rgb(8,2,2);
}
h1{
     background-color:rgb(50,245,36);
    color:rgb(229,19,201);
    text-align:  center;
    border-radius: 50px;
    border:5px solid rgb(60,8,246);
}
h2{ background-color:rgb(85,63,130);
    color:rgb(210,180,13);
    text-align:center;
    border-radius:50px;
    border: 2px solid rgb(212,255,0);

}
h3{
     background-color:rgb(208,111,183);
    color:rgb(8,4,4);
    text-align:left;
    border-radius:10px;
    border:5px solid rgb(22,176,42);
}
audio{
    margin:20px auto;
    width:1100px;
    box-shadow:5px-5px 10px rgb(7,170,15);
    border-radius:50px;
   
}
p{font-size:15px;
     margin:20px auto;
    width:1000px;
    box-shadow:5px-5px 10px rgb(0,0,0);
    border-radius:10px;
    padding:20px;
   
}
hr{
    border:1px solid rgb(0,0,0);
    margin:20px auto;
    width:1100px;

}
img{
     margin:10px auto;
    padding:2px;
    box-shadow:10px-5px 20px rgb(0,0,0);
    border-radius:10px;
   
}
video{
     margin:20px auto;
    padding:2px;
    box-shadow:5px-5px 10px rgb(0,0,0);
    border-radius:5px;
} 

